<br /><br />
<div>Amount of good people: {{peopleCount}}</div>
<!-- (onAddedPerson)="addPerson($event)" -->
<div>Amount of bad people: {{people.length - peopleCount}}</div>

<div>
  See only good people <input type="radio" [(ngModel)]="filterGood" [value]="true" /> 
  See only bad people <input type="radio" [(ngModel)]="filterGood" [value]="false" />
</div>

<h3>People List</h3>
<ul>
  <li *ngFor="let person of people | goodBad:filterGood" appHighlight>
      {{person | personPipe}}
      <span [ngClass]="person.good ? 'green' : 'red'">{{person.good ? 'Good' : 'Bad'}}</span>
      - Change this: <input type="checkbox" [checked]="person.good" (change)="updatePersonStatus(person.id, person.good = !person.good)">
      <a routerLink="/people/{{person.id}}">Detail</a>
  </li>
</ul>

<!-- <table class="app-list-table">
  <thead>
    <tr>
      <th colspan="2">
        People List
      </th>
    </tr> 
    <tr>
      <th>Name</th>
      <th>is Good?</th>
    </tr>
  </thead>
  <tr *ngFor="let person of people">
    <td [style.color]="person.good ? 'green' : 'red'">
      {{person.name}}
    </td>
    <td>
      {{person.good ? 'Yes' : 'No'}}
      - Change this: <input type="checkbox" [checked]="person.good" (change)="person.good = !person.good">
    </td>
  </tr>
</table> -->